<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete a user</title>
    <link rel="stylesheet" href="/css/homecss.css">
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/create" class="active">Create</a>
      </div>
      <div>
        <div>
            
        <form action="/deleteUser/<%=user.id%>" method="post">
            <fieldset id="box" >
            <legend>Person</legend>
            <div class="hide">
                <label>Id: </label>
                <input class="inputtext " type="text" name="id" value="<%=user.id%>"/>
            </div>
            <div>
                <p>Are you sure to delete the user with email <%=user.email%></p>
            </div>
            <button id="confirm">Confirm</button>
        </fieldset>
    </form>
        </div>
      </div>
</body>
</html>