<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update a user</title>
    <link rel="stylesheet" href="/css/homecss.css">
</head>
<body>
    <div class="topnav">
        <a  href="#home">Home</a>
        <a href="/create" class="active">Create</a>
      </div>
      <div>
        <div>
        <form action="/update-user" method="post">
            <fieldset id="box" >
            <legend>Person</legend>
            <div>
                <label>Email</label>
                <input class="inputtext" type="text" name="email"/>
            </div>
            <div>
                <label>Name</label>
                <input class="inputtext" type="text" name="name"/>
            </div>
            <div>
                <label>City</label>
                <input class="inputtext" type="text" name="city"/>
            </div>
            <button id="save">Save</button>
        </fieldset>
    </form>
        </div>
      </div>
</body>
</html>