<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update a user</title>
    <link rel="stylesheet" href="/css/homecss.css">
</head>
<body>
    <div class="topnav">
        <a  href="/">Home</a>
        <a href="/create" class="active">Create</a>
      </div>
      <div>
        <div>
            
        <form action="/saveEditUser" method="post">
            <fieldset id="box" >
            <legend>Person</legend>
            <div class="hide">
                <label>Id: </label>
                <input class="inputtext " type="text" name="id" value="<%=user.id%>"/>
            </div>
            <div>
                <label>Email</label>
                <input class="inputtext" type="text" name="email" value="<%=user.email%>"/>
            </div>
            <div>
                <label>Name</label>
                <input class="inputtext" type="text" name="name" value="<%=user.name%>"/>
            </div>
            <div>
                <label>City</label>
                <input class="inputtext" type="text" name="city" value="<%=user.city%>"/>
            </div>
            <button id="save">Save</button>
        </fieldset>
    </form>
        </div>
      </div>
</body>
</html>